.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

Footer {
  text-align: center;
}

h1.amplify-heading--1 {
  margin-bottom: 1%;
}

.ant-card-body > h1.amplify-heading--1 {
  margin-bottom: 5%;
}

.ant-card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
  height: 100%;
}

.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}

.price-monitor-btn {
  position: absolute !important;
  bottom: 5%;
}

.ant-row {
  margin-bottom: 20px;
}

.basic-layout {
  background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url("https://media.wired.com/photos/5e4c3febc37d1a0008ff6887/191:100/w_2400,h_1256,c_limit/security-feature_art-youtube%20gaming%20cheats-103629800-1058418382.jpg") no-repeat;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;  
}

.login-wrapper h1 {
  text-align: center;
  font-size: 2em;
}