@font-face {
  font-family: 'Minecraft';
  src: url('./shared/fonts/Minecraft.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Minecraft', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-layout-header, .ant-layout-footer {
  background-color:#fff;
}
